/* Font-family */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Italianno&family=Luxurious+Roman&family=Mea+Culpa&family=Open+Sans&family=Pacifico&family=Poppins&family=Roboto+Slab:wght@400;500&family=The+Nautigal:wght@700&display=swap');
body{
    margin:0;
    font-size: 18px;
    

}
main{
    margin:80px 150px;
    font-family: 'Poppins', sans-serif;
}
h1{
    font-family: 'Roboto Slab', serif;
    font-size: 60px;
}
h2{
    font-size: 40px;
    font-weight: 800;
}
hr{
    color:rgb(247, 218, 218);

}
/* header section */
.nav-bar{
    display:flex;
    justify-content:space-between; 
    margin-right: 180px;
    margin-left: 150px;
    margin-top: 100px;
    font-family: 'Poppins', sans-serif;
}
.items{
    margin-top:27px;

}
.nav-item{
    margin-left: 25px;
    text-decoration: none;
    font-size: 25px;
    font-weight: 600;
    color:black;
}
.first-section{
    display: flex;
    margin-top: 50px;
    margin-bottom: 100px;
    
}
.section-title{
    font-size: 50px;
    font-weight: 800;
}
.section-detail{
    margin-right:150px
}

.button{
    background-image:linear-gradient(rgb(224, 44, 74),rgb(235, 44, 133));
    width:200px;
    height: 25px;
    padding:10px 20px 15px 20px;
    text-align: center;
    border-radius: 25px;
    font-size: 20px;
}
.button a{
    text-decoration: none;
    color: white;
    font-weight: 700;

}
.arrow{
    margin-left: 7px;
}
.section-image{
    border:2px solid rgb(247, 218, 218);;
    border-radius: 50%;
    padding: 15px;
    margin-right: 100px;
    margin-left: 50px;
    height: 500px;
    width:500px;
    margin-bottom: 50px;
    
}
.camera{
    height: 550px;
    width:480px;
}
.section-image:hover img{
    transform: scale(1.25);
    transition: transform 3s ease-in-out ;
    
}
/* SecondPart */
.logos{
    display: grid;
    grid-template-columns: repeat(7,1fr);
    align-items: center;
    height:100px;
}
/* Thirdpart */
.popular-collections{
    margin-top: 150px;
    line-height: 5px;
    margin-left: 200px;

}
.collections{
       display: grid;
       grid-template-columns: repeat(3,1fr);
       background-color: #F6F8E8;
       padding-top:15px;
       padding-left: 20px;
       border-radius: 10px;
       margin-left: 20px;
       margin-top: 80px;
       width: 80%;
       

    
       
}
.collection{
    background-color:#FFFFFF;
    height: 520px;
    width:450px;
    border-radius: 5PX;
    margin-bottom: 30px;
    padding:15px;
     
    
     
}
     
.h2-title{
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    margin-right: 400px;
}
.product-image{
    height:320px;
    width: 460px;
}
.product-name{
    padding-bottom:10px;
}
.price{
    font-size: 25px;
}
.ratings{
    display: flex;
    justify-content: 
}
.rating{
    margin-top: 4px;
    margin-left:20px;
}
.fa-star.filled{
    color:#FFC014;
}
.fa-star.empty{
    color:#AEAEAE;
}
.light-gray{
    color:#AEAEAE;
}
.see-more{
    margin-top: 60px;
    margin-left: 1550px;
    margin-bottom: 120px;
}
.see-more a{
text-decoration: none;
color:rgb(235, 44, 133);
font-size: 25px;
}

#wild-photography{
    display: flex;
    margin-left: 50px;
}
.wild-photo{
    margin-right: 50px;
}

.man-tiger-photo{
    width:750px;
    border-radius: 10px;
    border:1px solid rgb(91, 207, 91);
}
.wild-info{
    margin-right: 100px;
    margin-left: 50px;
}
footer{
    background-color:rgb(32, 32, 48);
    text-align: center;
    color:white;
    line-height: 10px;
    padding: 70px 50px;
    
}
.social-logo{
    margin-right: 10px;
    margin-left: 5px;
    background-color:wheat;
    color:rgb(60, 60, 170);
    border-radius: 50%;
    padding:0px 2px;

}

/* Media Queries------
----------------------- */

/* Mobile Devices */
@media only screen and (max-width:688px) {
    body{
        margin:0;
    }
    main{
        margin:0;
    }
    .nav-bar{
        display: flex;
        text-align: center;
        font-size: 20px;
        font-weight: 800;
        margin:30px 0px 30px 40px;
    }
    .items{
        display: none;
    }
    .first-section{
        display: grid;
        grid-template-columns: repeat(1,fr);
        margin-left: 20px;
        
        
        
    }
    .section-detail{
        margin-top: 330px;
        text-align: center;
        margin-left: 60px;
        order:2;
    }
    .section-image{
        height:300px;
        width:300px;
        position: absolute;
        left:20px;
        top:150px;
        

    }
    .section-title{
        font-size: 50px;
        
    }
    .camera{
        height: 330px;
        width: 280px;
    }
    .logos {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        display: none;
    }
    hr{
        display: none;
    }
    .h2-title{
        font-size: 25px;
        margin-left: 20px;
    }
    .collections{
        display: grid;
        grid-template-columns: 1fr;
        margin-left:0;
        margin-top: 30px;
    }
    .see-more{
        margin-left: 220px;
        margin-top: 5px;
        font-size: 18px;
    }
    #wild-photography{
        display: block;
        margin-left: 7px;
        margin-top: 50px;
        margin-bottom: 50px;
    }
    .wild-info{
        text-align: center;
    }
    .wild-photo{
        margin-left:5px ;
        
    }
    .man-tiger-photo{
        height: 300px;
        width:410px;
    }
    footer{
        margin-right: 0;
        width:100vw;
        padding:30px;
        
    }
    footer h2{
        font-size: 20px;
    }
  
}

